<!-- navbar fragment -->
<div th:fragment="navbar" class="d-flex justify-content-start align-items-center border border-dark mt-2">
    <h3 class="mb-0 border-end border-dark p-3">Best of</h3>
    <div class="ms-3">
        <a href="/movies" class="btn btn-outline-primary me-2" id="movies">Movies</a>
        <a href="/songs" class="btn btn-outline-primary" id="songs">Songs</a>
    </div>
</div>

<!-- movies fragment -->
<div th:fragment="moviesList">
    <div class="border border-top-0 border-dark text-center container p-3">
        <h4 class="text-center my-3" th:text="${title}"></h4>
        <div class="d-grid gap-3 col-6 mx-auto mb-5 border border-bottom-0 border-dark">
            <a class="border-bottom border-dark py-3" th:each="movie : ${movies}" th:text="${movie.title}"
                th:href="@{/movies/{id}(id=${movie.id})}" th:if="${movies}"></a>
        </div>
    </div>
</div>

<!-- songs fragment -->
<div th:fragment="songsList">
    <div class="border border-top-0 border-dark text-center container p-3">
        <h4 class="text-center my-3" th:text="${title}"></h4>
        <div class="d-grid gap-3 col-6 mx-auto mb-5 border border-bottom-0 border-dark">
            <a class="border-bottom border-dark py-3" th:each="song : ${songs}" th:text="${song.title}"
                th:href="@{/songs/{id}(id=${song.id})}" th:if="${songs}"></a>
        </div>
    </div>
</div>

<!-- movie details fragment -->
<div th:fragment="movie-details" class="border border-top-0 border-dark text-center container p-3">
    <div>
        <h4 class="text-center my-3" th:text="'Movie details'"></h4>
        <div class="d-grid gap-3 col-6 mx-auto mb-5 border border-dark">
            <div class="mt-2 border-bottom border-dark py-3" th:text="|Title: ${movie.title}|"></div>
            <div class="my-2 border-bottom border-dark py-3" th:text="|Genre: ${movie.genre}|"></div>
            <div class="py-3" th:text="|Duration: ${movie.duration}|"></div>
        </div>
    </div>
</div>

<!-- song details fragment -->
<div th:fragment="song-details" class="border border-top-0 border-dark text-center container p-3">
    <div >
        <h4 class="text-center my-3" th:text="'Song details'"></h4>
        <div class="d-grid gap-3 col-6 mx-auto mb-5 border border-dark">
            <div class="mt-2 border-bottom border-dark py-3" th:text="|Title: ${song.title}|"></div>
            <div class="my-2 border-bottom border-dark py-3" th:text="|Artist: ${song.artist}|"></div>
            <div class="py-3"><iframe width="560" height="315" th:src="'https://www.youtube.com/embed/' + ${song.iframeID}" frameborder="0"
                    allowfullscreen></iframe></div>
        </div>
    </div>
</div>