<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best songs</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body class="container">
    <header>
        <header th:replace="fragments/fragments :: navbar"></header>
    </header>
    <main class="container mt-3">
        <ul th:each="song : ${songs}">
            <li>
                <a th:href="@{/songs/{id}(id=${song.id})}" th:text="|${song.title} - ${song.artist}|"></a>
            </li>
        </ul>
    </main>
</body>
</html>